.boton {
  composes: boton from "../../styles/ui.module.css";
  width: 100%;
}

.primario {
  composes: botonPrimario from "../../styles/ui.module.css";
}

.secundario {
  composes: botonSecundario from "../../styles/ui.module.css";
}

.peligro {
  composes: botonPeligro from "../../styles/ui.module.css";
}

.pequeno {
  composes: botonPequeno from "../../styles/ui.module.css";
}

.anchoAuto {
  width: auto;
}
